/* ======================================================
   GLOBAL CARD SYSTEM
====================================================== */

.card {
  background: var(--white-05);
  border-radius: 18px;
  border: 1px solid var(--white-10);
  backdrop-filter: blur(6px);
  transition: 0.3s ease;
}

/* SMALL CARD VARIANT (for tech stack) */
.card-sm {
  padding: 18px 10px;
}


.card-md {
  padding: 32px;
}

.card-hover:hover {
  transform: translateY(-10px);
  border-color: var(--blue-03);
  box-shadow: 0 8px 20px var(--blue-02);
}

/* LIGHT MODE */
:root[data-theme="light"] .card {
  background: var(--white-055);
  border: 1px solid var(--border-light-1);
  backdrop-filter: blur(12px);
  box-shadow:
    0 6px 18px var(--border-light-2),
    0 4px 12px var(--blue-01);
}

:root[data-theme="light"] .card-hover:hover {
  border-color: var(--blue-025s);
  box-shadow:
    0 12px 24px var(--border-light-2),
    0 6px 16px var(--blue-025s);
}
