/* ======================================================
   GLOBAL CARD SYSTEM
====================================================== */

.card {
  padding: 32px;
  border-radius: 18px;
  background: var(--white-05);
  border: 1px solid var(--white-12);
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
  transform: translateY(0);
  position: relative; /* ADD THIS */
  z-index: 1; /* ADD THIS */
}
.card-glass:hover {
  transform: translateY(-6px);
  border-color: var(--blue-02);
  box-shadow: 0 8px 20px var(--blue-02);
}

/* SMALL CARD VARIANT (for tech stack) */
.card-sm {
  padding: 18px 10px;
}

.card-md {
  padding: 32px;
}

.card-hover:hover {
  transform: translateY(-10px);
  border-color: var(--blue-03);
  box-shadow: 0 8px 20px var(--blue-02);
}

/* TEXT HELPERS */
.text-accent {
  color: var(--clr-blue-medium);
}

.text-muted {
  color: var(--clr-text-light);
}

/* LIGHT MODE */
:root[data-theme="light"] .card {
  background: var(--white-055);
  border: 1px solid var(--border-light-1);
  backdrop-filter: blur(12px);
  box-shadow:
    0 6px 18px var(--border-light-2),
    0 4px 12px var(--blue-01);
}

:root[data-theme="light"] .card-hover:hover {
  border-color: var(--blue-025s);
  box-shadow:
    0 12px 24px var(--border-light-2),
    0 6px 16px var(--blue-025s);
}

:root[data-theme="dark"] .text-muted {
  color: var(--clr-text-light) !important;
}

/* =========================================
   GLOBAL CARD FLEX LAYOUT
========================================= */

.flex-column-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-bottom {
  margin-top: auto;
}
