/* ======================================================
   MODAL SYSTEM
====================================================== */

.rtx-modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.rtx-modal-backdrop {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  backdrop-filter: blur(10px);
  opacity: 0;
  animation: modalBackdropFade 0.25s ease forwards;
}

.rtx-modal {
  position: relative;
  width: 100%;
  max-width: 650px;
  max-height: 85vh;
  overflow-y: auto;

  background: var(--bg-dark-2);
  border: 1px solid var(--white-05);
  border-radius: var(--radius-lg);
  padding: 2rem;

  box-shadow: 0 20px 50px var(--shadow-dark-2);

  transform: scale(1);
  opacity: 0;
  animation: modalPop 0.3s ease forwards;
  opacity: 1;
  backdrop-filter: blur(50px);
}
.rtx-modal::-webkit-scrollbar {
  width: 6px;
}

.rtx-modal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.rtx-modal::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
.rtx-modal-title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-title);
  margin-bottom: 1rem;
  color: var(--clr-white);
}

.rtx-modal-body {
  color: var(--clr-text-light);
  line-height: 1.7;
}

.rtx-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  color: var(--clr-text-muted);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.rtx-modal-close:hover {
  color: var(--clr-blue);
}

/* Animations */

@keyframes modalBackdropFade {
  to {
    opacity: 1;
  }
}

@keyframes modalPop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
