/* ===========================
   MAIN WRAPPER
=========================== */
.rtx-about-wrapper {
  width: 100%;
  padding: var(--space-about-section-y) var(--space-about-section-x);
  background: var(--bg-dark-2);
}

/* ===========================
   CONTAINER
=========================== */
.rtx-about-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  gap: var(--space-about-gap);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ===========================
   LEFT IMAGE
=========================== */
.rtx-about-left {
  flex: 1;
  opacity: 0;
  transform: translateX(-80px);
  transition: 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}

.rtx-left-visible {
  opacity: 1;
  transform: translateX(0);
}

.rtx-about-img {
  width: 100%;
  max-width: 500px;
  border-radius: var(--radius-about-img);
}

/* ===========================
   RIGHT CONTENT
=========================== */
.rtx-about-right {
  flex: 1;
  color: var(--clr-text-light);

  opacity: 0;
  transform: translateX(80px);
  transition: 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}

.rtx-right-visible {
  opacity: 1;
  transform: translateX(0);
}

/* BADGE */
.rtx-about-badge {
  display: inline-block;
  padding: var(--space-about-badge-y) var(--space-about-badge-x);
  background: var(--blue-015);
  color: var(--clr-blue);
  border-radius: var(--radius-about-badge);
  font-size: 14px;
  margin-bottom: 16px;
}

/* TITLE */
.rtx-about-title {
  font-size: var(--fs-about-title);
  font-weight: 700;
  color: var(--clr-white);
  margin-bottom: 14px;
}

.rtx-about-title span {
  color: var(--clr-blue);
}

/* PARAGRAPH */
.rtx-about-text {
  font-size: var(--fs-about-text);
  line-height: 1.7;
  margin-bottom: var(--space-about-text-gap);
}

/* FEATURE POINTS */
.rtx-about-points {
  margin: 25px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-about-points-gap);
  color: var(--clr-blue-light);
}

/* BUTTON */
.rtx-about-btn {
  display: inline-block;
  margin-top: 25px;
  padding: var(--space-about-btn-y) var(--space-about-btn-x);
  background: var(--clr-blue-btn);
  border-radius: var(--radius-about-btn);
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.rtx-about-btn:hover {
  background: var(--clr-blue-btn-hover);
  transform: translateY(-4px);
  box-shadow: 0 10px 20px var(--blue-025);
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 992px) {
  .rtx-about-container {
    flex-direction: column;
    text-align: center;
  }

  .rtx-about-points {
    grid-template-columns: 1fr;
  }
}
