.rtx-admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.rtx-admin-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.rtx-grid {
  /* display: grid; */
  /* gap: 20px; */
}

.rtx-grid-3 {
  /* grid-template-columns: repeat(auto-fill, 300px);
  justify-content: flex-start; */
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.opportunity-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opportunity-actions {
  display: flex;
  gap: 10px;
  margin-top: auto;
  justify-content: space-evenly;
}

.rtx-icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  margin-top: var(--space-sm);
}

.rtx-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.rtx-modal-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.rtx-opportunity-filter-btn .ui-dropdown .rtx-input {
  padding: 0;
}
.rtx-filter-btn-wrapper .ui-dropdown .rtx-input {
  padding: 0;
  background: transparent;
}

@media (max-width: 768px) {
  .rtx-admin-actions {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 426px) {
  .rtx-admin-actions {
    flex-direction: column;
    width: 100%;
  }
}
