html, body {
  overflow-x: hidden !important;
}

/* ======================================================
   GLOBAL FONT SYSTEM
====================================================== */

html {
  font-size: clamp(14px, 1.1vw, 16px);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}
